{{ define "sin_nav" }}
<nav class="navbar fixed-top navbar-expand-lg  " style="background-color:white;">                
    <a class="navbar-brand " href="#" ><img src="./../static/logoCropped.png" style="max-width:42px; max-height:42px;margin-left:18px;"><span class="badge " style="background-color:white;font-size:15px;color:white;margin-left:21px;"><img src="./../static/hlogo.png" style="max-height:18px;max-height:18px;"><mark style="background-color:white;color: #53b148;font-size:15px;">Gir-Goras</mark></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top:-9px;">
        <span class="navbar-toggler-icon" style="background-image: url(./../static/more.png); background-size: 24px, 24px;" ></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <!-- <h6><a class="nav-link " href="#"><img src="./static/homelogo.png" style="max-width:160px;max-height:160px;"> <span class="badge badge-round badge-info" style="margin-left:-60px;margin-top:6px;;"> Home</span> <span class="sr-only"></span></a></h6> -->
        </li>
        <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle badge badge-round   " href="#" id="navbarDropdown" style="color:#53b148;font-size:15px; margin-right:9px;background-color: white;margin-top:6px;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img src="./../static/loclogo.png" style="max-width:18px;max-height:18px;margin-top:-3px;">
                  {{ .Nav.DefaultLocation }}<mark  class="">Edit</mark>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{ range $Index, $Location := .Nav.Locations }}
                <a class="dropdown-item" href="#" style="font-size:12px;">{{ $Location }}</a>
                {{ end }}
                </div>
        </li>
        <li class="nav-item has-success" >
                <form class="form-inline my-2 my-lg-0 border rounded border-success" >
                        <input class="form-control input-group-sm sm-3 form-control-success" type="search" placeholder="Location Search" aria-label="Search" style="height:30px;border: none;color: #53b148;opacity: 1;">
                        <span> <img src="./../static/search.png" style="max-width:21px;max-height: 21px;"></span>
                </form>
        </li>
        
      
    
      </ul>
                                   
                 <ul class="navbar-nav ml-auto">
                      <a class="nav-link" href="#" style="color:#53b148;margin-right:12px;margin-top:6px;"><img src="./../static/farmer2.png" style="max-width:21px;max-height:21px;color:#53b148" > {{ .Ucred.GivenName }}</a> 

                   
                    <li class="nav-item " style="margin-top:12px;">
                       <a href="/auth/gplus"><button class="btn btn-sm btn-outline-success " id="signin" >Switch Account</button></a>
                    </li>
                 </ul>
    
    </div>
</nav>
{{ end }}