.firstColCal{
    background-color:yellow;
}
.secondColCal{
    background-color:#f4b21a;
}
.thirdColCal{
    background-color:#aef6e9;
}
.fourthColCal {
    background-color:#e9b0f4;
}
.fifthColCal {
    background-color:#c1f7dc
}
.sixColCal {
    background-color:tan;
}
.sevenColCal {
    background-color:yellowgreen;
}