{{define "nav"}}
<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:#f7f7f7">                
    <a class="navbar-brand" href="#"><img src="./static/logoSmaller.jpeg" class="img-fluid" style="max-width:90px;max-height:90px;margin-left: 30px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
        </li>
        <li class="nav-item" >
                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Location Search" aria-label="Search">
                        <button class="btn btn-outline-success " id="searchLocation" >Search</button>
                </form>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success " id="signin" ><a href="/auth/gplus">Signin</a></button>
        </li>
      
    
      </ul>
                                   
                 <a class="nav-link" href="#"><img src="./static/farmer.png" style="max-width:42px;max-height:42px;" > User:xyz</a> 
                 
           
    
    </div>
  </nav>
{{end}}