{{define "optedServices"}}
        <div class="col-lg-3 col-md-3 service "  >
                    <div class="row ">
                            <div class="col d-none d-sm-block" style="padding-top:100px;" >
                                     
                            </div>
                    </div>
                                                    
                    <div class="row" style="margin-top:21px;">
                            <div class="col">
                                     <h4  style="text-align:center"> 
                                             <img src="./static/servicesLogo.png" style="max-width:60px;max-height:60px;">
                                             <span class="badge badge-pill ">Services For <span class="badge badge-pill badge-info">OptedService.SelectedFarm</span></span>
                                    </h4>
                            </div>
                    </div>
                    <div class="row servicesOpted border rounded border-danger" style="margin-left:0px;margin-right:3px;">
                            
                             <div class="col  ">
                                             <h6 style="text-align:center"><img src="./static/cowlogo.png" style="max-width:60px;max-height:60px;"><span class="badge badge-danger">You Have 0 Services In your Farm</span></h6>
                                        <h6></h6>
                             </div>
                     </div>
        
{{end}}