{{define "statitics"}}
<div class="col  Farm News"  style="margin-top:90px;">
    <div class="row">
            <div class="col">
                    <div class="border rounded border-danger" style="margin-top:12px;">
                                            <div class="thumbnail " style="margin-top:21px;">
                                                            <img src="./static/cow.png" style="max-width:300px;max-height:300px;">
                                            </div>
                                            <caption>
                                            </caption> 
                    </div>
            </div>      
            <div class="col">
                            <div class="border rounded border-danger" style="margin-top:12px;">
                                            <div class="thumbnail " style="margin-top:21px;">
                                                                            <img src="./static/cow.png" style="max-width:300px;max-height:300px;">
                                            </div>
                                            <caption>
                                            </caption> 
                                    </div>
            </div>      
            <div class="col">
                            <div class="border rounded border-danger" style="margin-top:12px;">
                                            <div class="thumbnail " style="margin-top:21px;">
                                                            <img src="./static/cow.png" style="max-width:300px;max-height:300px;">
                                            </div>
                                            <caption>
                                            </caption> 
                    </div>
            </div>
    </div>  
</div>
{{end}}