{{define "suggestions"}}
<div class="row suggestionOrNot">
    <div class="col ">
            <center>
                            
                            <h6 style="text-align:center;margin-top:15px;"><span class="badge badge-alert">Suggested Services</span></h6>
                            <img id="suggestionButton" src="./static/down.png" style="margin-top: -30px ;max-width:30px;max-height:30px;position: center" >
                            

            </center>
    </div>
</div>
<div class="row" >
            <div class="col col-suggestions  " >
                            <div class="border rounded border-info" style="margin-top:12px;">
                                            <div class="thumbnail " >
                                                            <a href="#" style="margin-top:0px;"><span class="badge badge-danger">Details</span></a>
                                                            <h6>
                                                                    <img src= "./../static/uparrow.png" style="max-width:60px;max-height:60px;position: relative;"><img src="./../static/uparrow.png" style="max-width:60px;max-height:60px;">
                                                                    <span class="badge badge-info">"service Name"</span>
                                                                    <button class="btn btn-outline-info " style="margin-top:-15px;" type="submit"><span class="glyphicon glyphicon-search" ></span>Add</button><br>

                                                            </h6>
                                             </div>
                                     
                            </div>
            </div>
</div>
</div>

{{end}}